@font-face {
    font-family: iran;
    src: url(../Tools/Fonts/Dirooz.ttf);
}
*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    font-family: iran;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.container{
    display: flex;
    justify-content: center;
}

.container .form{
    padding: 10px;
    border: none;
    width: 100%;
}

input{
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    border: 2px solid rgb(38, 168, 38);
}

.container .form .div-name , .div-date {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.container .form .div-gender{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.container .form .div-gender .div-male .ipt-male , .div-female .ipt-female{
    width: 10px;
}

.div-male{
    transform: translate(-10px);
}

.div-female{
    transform: translate(200px);
}
.container .form .div-comment .textarea-comment{
    width: 30%;
    border-radius: 10px;
}

/* .container .form .div-comment{ */
    /* background-color: red; */
/* } */

.container .form .div-number{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.container .form .btn-account{
    padding: 10px;
    margin: 0px auto;
    border: none;
    border-radius: 10px;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    color: rgb(146, 146, 146);
    font-family: 'Gill Sans', 
    'Gill Sans MT', Calibri,
     'Trebuchet MS', sans-serif;
     transition: 1s ease-in-out;
}

.container .form .btn-account:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}