@font-face {
    font-family: iran;
    src: url(../Tools/Fonts/Dirooz.ttf);
}
*{
    box-sizing: border-box;
    margin: 0px;
}
/* ========================= main ========================= */
body{
    font-family: iran;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.container{
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #444;
    border-radius: 10px;
}

.container .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border: none;
    width: 100%;

}

input{
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    border: none;
    border: 1px solid #444;
    margin-top: 5px;
    font-weight: bold;
    letter-spacing: 2px;
}

input:focus{
    outline: none;
    border: 2px solid rgb(0, 55, 255);
}

.container .form .div-name , .div-date , .div-number{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.container .form .btn-account{
    background-color:  rgb(0, 55, 255);
    color: white;
    width: 100%;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px;
    border: none;
    border-radius: 15px;
}

.container .form .btn-account:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

hr{
    margin-bottom: 20px;
    border: 1px solid #444;
}